* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    background-color: #1F1F1F;
}

.btn {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    margin: 0 0.4rem;
    background-color: #3F3F3F;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    background-color: #0F0F0F;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.header__search {
    width: 30%;
    height: 100%;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.header__menu a {
    display: block;
    color: #fff;
    font-size: 1.4rem;
}

.profile__img {
    width: 3.2rem;
    height: auto;
    border-radius: 50%;
}

.notification {
    color: #fff;
    margin: 0 2rem 0 1rem;
}

.add__video {
    display: block;
    width: 7rem;
    border-radius: 3rem;
    background-color: #3F3F3F;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
}

.add__video-text {
    margin-left: 1rem;
}

.header__actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__mic,.header__search-btn {
    display: block;
    width: 4rem;
    height: auto;
    border-radius: 50%;
    padding: 1rem;
    margin: 0 1rem;
    background-color: #3F3F3F;
    text-align: center;
}

.header_input {
    width: 100%;
}

.header__logo {
    color: #fff;
    font-weight: 700;
    font-size: 2.4rem;
    margin-left: 9.6rem;
}

.content {
    position: relative;
    top: 8rem;
    background-color: #1F1F1F;
}

.content__menu {
    position: fixed;
    height: 100vh;
    background-color: #1F1F1F;
    font-size: 1.6rem;
    text-align: center;
}

.content__menu-item {
    display: block;
    padding: 2rem 0;
    color: #fff;
}

.content__tag {
    margin-left: 9.6rem;
}

.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 9.6rem;
    margin-right: 2.4rem;
}

.video__item {
    margin: 1rem 0;
    padding: 1rem;
    width: 37rem;
    height: 31rem;
    background-color: #1F1F1F;
    border-radius: 0.5rem;
}

.video__thumbnail {
    width: 100%;
    height: 70%;

}

.video__avatar {
    width: 100%;
}

.footer {
    position: relative;
    background-color: #1F1F1F;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
    font-size: medium;
}